#player{
    //display: none;
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    overflow: hidden;
    //border: 1px solid red;
    //z-index: 999;
    //background: rgba(0,0,0,.7);
    .player-container{
        position: relative;
        //border: 1px solid red;
        height: 100%;
        z-index: 99;
        .player-header{
            position: relative;
            z-index: 999;
            background: rgba(56, 56, 56, 0.9);
            display: flex;
            justify-content: space-around;
            height: px(90);
            padding: px(15) px(5) px(15) px(5);
            img{
                //border:1px solid #fff;
                width:px(60);
                height: px(60);
            }
            .song-info{
                position: relative;
                width:px(150);
                left:px(-5);
                color:#fff;
                padding-top:px(5);
                .song-name{
                    font-size: 18px;
                    white-space: nowrap;
                }
                .song-artist{
                    padding-top:  px(5);
                    font-size:14px;
                    white-space: nowrap;
                }
            }
            .icon-action{
                position: relative;
                left:px(0) ;
                top:px(7) ;
                width: px(45) ;
                height: px(45) ;
                border:1px solid #fff;
                border-radius: 50%;
                background-image: (url(/img/sprite_play.png));
                background-repeat: no-repeat;
                background-size: px(40) px(400) ;
                //background-position: 15px -161px;
                opacity: 0.7;
                // &:active{
                //     background-position:16px -193px;
                // }
            }
            .icon-play{
                background-position: px(15) px(-161) ;
            }
            .icon-pause{
                background-position:px(16) px(-193) ;
            }
        }
        .player-lyrics{
            position: relative;
            z-index: 99;
            height: 100%;
            background: rgba(0,0,0,.6);
            padding-top:px(20);
            padding-bottom:px(180);
            color: rgba(255,255,255,.6);
            font-size: 16px;
            
            .player-lyrics-lines{
                text-align: center;
                overflow: scroll;
                height: px(280);
                transition:0.5s;
                .player-lyrics-line{
                    position: relative;
                    text-overflow: ellipsis;
                    padding: 9px 0;
                    transform: translateY(0px);
                }

                .active{
                    color:$lyrics-color;
                }
            }
        }
        .player-footer{
            z-index: 99;
            position: absolute;
            background: $nav-item-active;
            width: px(220);
            height: px(50) ;
            bottom:px(20)  ;
            height: px(45) ;
            line-height: px(45);
            margin: 0 px(50) ;
            padding: 0 px(55) ;
            white-space: nowrap;
            font-size: 20px;
            color: #fff;
            border-radius: 999px;
            text-align: center;

            .icon-log{
                position: relative;
                left:px(-49);
                top:px(-26);
                width: px(33);
                height:px(33);
                background-image: (url(/img/sprite_play.png));
                background-repeat: no-repeat;
                background-size: px(40) px(350);
                background-position:0px px(-300);
            }
            .icon-list{
                display: block;
                position: relative;
                left: px(160);
                top: px(-80);
                width: 33px;
                height: 33px;
                background-image: url(/img/sprite_play.png);
                background-repeat: no-repeat;
                background-size: px(40) px(350);
                background-position:px(3) px(-232);
            }
            .progress{
                position: absolute;
                // box-sizing:border-box;
                width: px(375);
                left:px(-80) ;
                top:px(-25);
                // border:1px solid red;
                bottom:px(70);
               
                display: flex;
                justify-content: center;
                align-items:center;
                .progress-elapsed{
                    font-size: 14px;
                    opacity: 0.4;
                }
                .progress-duration{
                    font-size: 14px;
                    opacity: 0.4;
            
                }
                .progress-bar{
                    flex-basis:px(200);
                    height: 2px;
                    margin: 0 px(15) ;
                    background:rgba(255, 255, 255, 0.4);
                    overflow: hidden;
                    
                    .progress-bar-progress{
                        position: relative;
                        //left:px(-200);
                        background: $nav-item-active;
                        width:px(200);
                        height: 2px;
                        transform: translate(-100%);
                    }
                }

            }
            .actions{
                position: absolute;
                left:px(60);
                bottom:px(1);
                a{
                    text-decoration:none;
                    color: #fff;
                }
            }
        }
    }

    .player-background{
        position: absolute;
        top:0;
        bottom: 0;
        z-index: 0;
        width:100%;
        background-image: (url(../img/jack.jpg));
        background-size:cover;
        background-position:bottom center;
        filter:blur(15px);
        transform:scale(1.15);
    }
}