#player{
    //display: none;
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    overflow: hidden;
    //border: 1px solid red;
    //z-index: 999;
    //background: rgba(0,0,0,.7);
    .player-container{
        position: relative;
        //border: 1px solid red;
        height: 100%;
        z-index: 99;
        .player-header{
            position: relative;
            z-index: 999;
            background: rgba(56, 56, 56, 0.9);
            display: flex;
            justify-content: space-around;
            height: px(90);
            padding: px(15) px(5) px(15) px(5);
            img{
                //border:1px solid #fff;
                width:px(60);
                height: px(60);
            }
            .song-info{
                position: relative;
                width:px(150);
                left:px(-5);
                color:#fff;
                padding-top:px(5);
                .song-name{
                    font-size: 18px;
                    white-space: nowrap;
                }
                .song-artist{
                    padding-top:  px(5);
                    font-size:14px;
                    white-space: nowrap;
                }
            }
            .icon-action{
                position: relative;
                left:px(0) ;
                top:px(7) ;
                width: 45px;
                height: 45px;
                border:1px solid #fff;
                border-radius: 50%;
                background-image: (url(/img/sprite_play.png));
                background-repeat: no-repeat;
                background-size: 40px 400px;
                //background-position: 15px -161px;
                opacity: 0.7;
                // &:active{
                //     background-position:16px -193px;
                // }
            }
            .icon-play{

                background-position: 15px -161px;
            }
            .icon-pause{
                background-position:16px -193px;
            }
        }
        .player-lyrics{
            position: relative;
            z-index: 99;
            height: 100%;
            background: rgba(0,0,0,.6);
            padding-top:px(20);
            padding-bottom:px(180);
            .icon-list{
                display: block;
                position: relative;
                left: px(270);
                top: px(320);
                width: 33px;
                height: 33px;
                background-image: url(/img/sprite_play.png);
                background-repeat: no-repeat;
                background-size: px(40) px(350);
                background-position:px(3) px(-232);
            }
        }
        .player-footer{
            z-index: 99;
            position: absolute;
            background: $nav-item-active;
            width: px(220);
            height: px(50) ;
            bottom:px(20)  ;
            height: px(45) ;
            line-height: px(45);
            margin: 0 px(50) ;
            padding: 0 px(55) ;
            white-space: nowrap;
            font-size: 20px;
            color: #fff;
            border-radius: 999px;
            text-align: center;

            .icon-list{
                position: relative;
                left:px(-49);
                top:px(6);
                width: px(33);
                height:px(33);
                background-image: (url(/img/sprite_play.png));
                background-repeat: no-repeat;
                background-size: px(40) px(350);
                background-position:0px px(-300);
            }
            .progress{
                position: relative;
                //width: 100%;
                border:1px solid red;
                bottom:px(70);
                opacity: 0.4;
                display: flex;
                justify-content: space-around;
                align-items:center;
                .progress-elapsed{
                    font-size: 14px;
                }
                .progress-duration{
                    font-size: 14px;
                }

                .progress-bar{
                    width:px(220);
                    height: 2px;
                    margin: 0 px(50) ;
                    background: #FFF;
                    
                    .progress-bar-progress{
                        //background: red;
                        width:px(100);
                        height: 2px;
                    }
                }

            }
            .actions{
                position: relative;
                left:-0px;
                bottom:px(79);
                a{
                    text-decoration:none;
                    color: #fff;
                }
            }
        }
    }

    .player-background{
        position: absolute;
        top:0;
        bottom: 0;
        z-index: 0;
        width:100%;
        background-image: (url(../img/jack.jpg));
        background-size:cover;
        background-position:bottom center;
        filter:blur(15px);
        transform:scale(1.15);
    }
}