.radios{
    margin:14px 10px 10px;
    
    .title{
        font-size: 16px;
        color: #000;
        margin-bottom: 11px;
        font-weight: normal;
    }

    .list{
        display: flex;
        flex:wrap;
        .list-item {
            flex:1;
            &:first-child{
                
            }

            img {
                width:100%;
                display: block;
            }
        }
    }
}