@function px($px){
    @return $px/$designWidth * 10 + rem;
}
$designWidth : 320;

$header-background:#31c27c;
$header-downLoad-Color:#149c5a;
$header-height:44px;
$nav-item-active:#31c27c;

$nav-color:rgba(0,0,0,.6);