@import "var";
@import "header";
@import "carousel";
@import "nav";
@import "helper";
@import "rec";
@import "toplist";
@import "search";



*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

body{
	background:#f4f4f4;
}

ul,ol{
	list-style:none;
	padding: 0;
	list-style: none;
}

h1,h2{
	margin:0;
	font-weight: normal;
}
a{
	text-decoration: none;
}
i{
	font-style:normal;
}

.ellipsis{
	overflow: hidden;
    white-space: nowrap;
	text-overflow: ellipsis;
}

.active{
	display: block;
}
.hide{
	display: none;
}

.icon {
	width: 1em; height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
 }


