body header {
  background: #31c27c;
  height: 44px; }
  body header img {
    height: 25px;
    margin: 9px 10px; }
  body header a {
    float: right;
    font-size: 14px;
    margin: 9px 10px;
    text-decoration: none;
    background: #149c5a;
    padding: 4px 12px;
    border-radius: 15px;
    color: #fff; }

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden; }
  .carousel .img-ct {
    width: 500%;
    display: flex;
    transition: 0.3s; }
  .carousel li > a img {
    width: 100%; }

.link {
  position: absolute;
  width: 100%;
  bottom: 20px;
  font-size: 0;
  text-align: center; }
  .link > li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer; }

.navbar {
  color: rgba(0, 0, 0, 0.6);
  background: #fff; }
  .navbar ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 40px;
    line-height: 40px; }
    .navbar ul li {
      width: 33.33%;
      font-size: 16px;
      text-align: center; }
      .navbar ul li.active {
        color: #31c27c;
        border-bottom: 2px solid #31c27c; }

.radios, .playlists {
  margin: 14px 0px 10px 10px; }
  .radios .title, .playlists .title {
    font-size: 16px;
    color: #000;
    margin-bottom: 11px;
    font-weight: normal; }
  .radios .list, .playlists .list {
    display: flex;
    flex-wrap: wrap; }
    .radios .list .list-item, .playlists .list .list-item {
      flex: 1;
      flex-basis: 40%;
      font-size: 14px;
      background: #fff;
      margin-right: 10px;
      margin-bottom: 10px; }
      .radios .list .list-item .list-media, .playlists .list .list-item .list-media {
        position: relative; }
      .radios .list .list-item .list-title, .playlists .list .list-item .list-title {
        height: 36px;
        margin: 5px 0;
        padding: 0 5px; }
      .radios .list .list-item .icon, .playlists .list .list-item .icon {
        background-image: url("../img/icon_play.png");
        background-repeat: no-repeat;
        background-size: 24px 60px; }
      .radios .list .list-item .icon-play, .playlists .list .list-item .icon-play {
        height: 24px;
        bottom: 5px;
        right: 5px;
        width: 24px;
        position: absolute;
        background-position: 0 0; }
      .radios .list .list-item img, .playlists .list .list-item img {
        width: 100%;
        display: block; }

.radios .list .list-item .list-title {
  margin-bottom: 0 !important; }

.rank-view {
  margin: 10px; }
  .rank-view .toolist li {
    margin-bottom: 10px;
    display: flex;
    overflow: hidden;
    background: #fff; }
    .rank-view .toolist li .top-item-media a {
      position: relative;
      width: 100px;
      height: 100px;
      display: block; }
      .rank-view .toolist li .top-item-media a img {
        display: block;
        width: 100px;
        height: 100px; }
    .rank-view .toolist li .top-item-info {
      margin: 0px 10px 0 15px;
      position: relative;
      flex: 1; }
      .rank-view .toolist li .top-item-info .top-list-title {
        width: 175px;
        height: 24px;
        font-size: 16px;
        color: #000;
        font-weight: normal;
        margin: 5px 0; }
      .rank-view .toolist li .top-item-info .top-item-list {
        padding: 0 10px 0 0; }
        .rank-view .toolist li .top-item-info .top-item-list .top-item-song {
          width: 175px;
          height: 21px;
          font-size: 14px;
          margin-bottom: 0px;
          color: rgba(0, 0, 0, 0.5); }
          .rank-view .toolist li .top-item-info .top-item-list .top-item-song .song-name {
            color: #000;
            margin-left: 8px;
            margin-right: 5px; }
        .rank-view .toolist li .top-item-info .top-item-list .topic_arrow {
          position: absolute;
          right: 0.625rem;
          top: 30%;
          width: 0.1875rem;
          color: rgba(0, 0, 0, 0.2); }

.search-view {
  position: relative; }
  .search-view .search-bar {
    background: #f4f4f4;
    padding: 10px; }
    .search-view .search-bar .input-wrap {
      position: relative;
      border-radius: 3px;
      height: 40px;
      background: #fff;
      padding: 8px 12px 8px 35px; }
      .search-view .search-bar .input-wrap .search-form #search {
        position: relative;
        top: -0.53125rem;
        width: 100%;
        color: rgba(0, 0, 0, 0.2);
        border: none;
        -webkit-appearance: none;
        font-size: 14px;
        outline: none; }
        .search-view .search-bar .input-wrap .search-form #search::-webkit-input-placeholder {
          color: rgba(0, 0, 0, 0.2); }
      .search-view .search-bar .input-wrap .search-form .icon-search img {
        position: absolute;
        width: 0.5625rem;
        height: 0.5625rem;
        top: 0.3125rem;
        left: 0.3125rem; }
  .search-view .search-results {
    position: relative; }
    .search-view .search-results .song-list .song-item {
      margin-bottom: 2px;
      position: relative;
      border-radius: 3px;
      background: #fff;
      padding: 0.1px 10px 7px 55px; }
      .search-view .search-results .song-list .song-item .icon-music {
        position: absolute;
        top: 0.0625rem;
        left: 0.25rem;
        width: 1.5625rem;
        height: 1.5625rem;
        margin: 0.15625rem 0.15625rem; }
        .search-view .search-results .song-list .song-item .icon-music img {
          width: 30px;
          height: 25px;
          opacity: 0.4; }
      .search-view .search-results .song-list .song-item .song-artist {
        color: #808080;
        font-size: 14px; }
      .search-view .search-results .song-list .song-item .song-name {
        margin: 10px 0 2px;
        line-height: 18px;
        font-size: 16px;
        font-weight: normal;
        color: #000; }
  .search-view .search-loading {
    position: relative;
    margin: 10px 50px; }
    .search-view .search-loading .loading-text {
      padding: 5px 0;
      border-radius: 10px;
      font-size: 14px; }
      .search-view .search-loading .loading-text img {
        position: absolute;
        top: 3px;
        left: 8px;
        width: 28px;
        height: 28px;
        opacity: 0.4;
        animation: circle 2s infinite linear; }
      .search-view .search-loading .loading-text p {
        color: #808080;
        padding: 0 50px; }
    .search-view .search-loading .loading-done {
      font-size: 14px;
      line-height: 40px;
      text-align: center;
      color: #808080; }

#player {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  #player .player-container {
    position: relative;
    height: 100%;
    z-index: 99; }
    #player .player-container .player-header {
      position: relative;
      z-index: 999;
      background: rgba(56, 56, 56, 0.9);
      display: flex;
      justify-content: space-around;
      height: 2.8125rem;
      padding: 0.46875rem 0.15625rem 0.46875rem 0.15625rem; }
      #player .player-container .player-header img {
        width: 1.875rem;
        height: 1.875rem; }
      #player .player-container .player-header .song-info {
        position: relative;
        width: 4.6875rem;
        left: -0.15625rem;
        color: #fff;
        padding-top: 0.15625rem; }
        #player .player-container .player-header .song-info .song-name {
          font-size: 18px;
          white-space: nowrap; }
        #player .player-container .player-header .song-info .song-artist {
          padding-top: 0.15625rem;
          font-size: 14px;
          white-space: nowrap; }
      #player .player-container .player-header .icon-action {
        position: relative;
        left: 0rem;
        top: 0.21875rem;
        width: 1.40625rem;
        height: 1.40625rem;
        border: 1px solid #fff;
        border-radius: 50%;
        background-image: url(/img/sprite_play.png);
        background-repeat: no-repeat;
        background-size: 1.25rem 12.5rem;
        opacity: 0.7; }
      #player .player-container .player-header .icon-play {
        background-position: 0.46875rem -5.03125rem; }
      #player .player-container .player-header .icon-pause {
        background-position: 0.5rem -6.03125rem; }
    #player .player-container .player-lyrics {
      position: relative;
      z-index: 99;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      padding-top: 0.625rem;
      padding-bottom: 5.625rem;
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px; }
      #player .player-container .player-lyrics .player-lyrics-lines {
        text-align: center;
        overflow: scroll;
        height: 8.75rem;
        transition: 0.5s; }
        #player .player-container .player-lyrics .player-lyrics-lines .player-lyrics-line {
          position: relative;
          text-overflow: ellipsis;
          padding: 9px 0;
          transform: translateY(0px); }
        #player .player-container .player-lyrics .player-lyrics-lines .active {
          color: #31c27c; }
    #player .player-container .player-footer {
      z-index: 99;
      position: absolute;
      background: #31c27c;
      width: 6.875rem;
      height: 1.5625rem;
      bottom: 0.625rem;
      height: 1.40625rem;
      line-height: 1.40625rem;
      margin: 0 1.5625rem;
      padding: 0 1.71875rem;
      white-space: nowrap;
      font-size: 20px;
      color: #fff;
      border-radius: 999px;
      text-align: center; }
      #player .player-container .player-footer .icon-log {
        position: relative;
        left: -1.53125rem;
        top: -0.8125rem;
        width: 1.03125rem;
        height: 1.03125rem;
        background-image: url(/img/sprite_play.png);
        background-repeat: no-repeat;
        background-size: 1.25rem 10.9375rem;
        background-position: 0px -9.375rem; }
      #player .player-container .player-footer .icon-list {
        display: block;
        position: relative;
        left: 5rem;
        top: -2.5rem;
        width: 33px;
        height: 33px;
        background-image: url(/img/sprite_play.png);
        background-repeat: no-repeat;
        background-size: 1.25rem 10.9375rem;
        background-position: 0.09375rem -7.25rem; }
      #player .player-container .player-footer .progress {
        position: absolute;
        width: 11.71875rem;
        left: -2.5rem;
        top: -0.78125rem;
        bottom: 2.1875rem;
        display: flex;
        justify-content: center;
        align-items: center; }
        #player .player-container .player-footer .progress .progress-elapsed {
          font-size: 14px;
          opacity: 0.4; }
        #player .player-container .player-footer .progress .progress-duration {
          font-size: 14px;
          opacity: 0.4; }
        #player .player-container .player-footer .progress .progress-bar {
          flex-basis: 6.25rem;
          height: 2px;
          margin: 0 0.46875rem;
          background: rgba(255, 255, 255, 0.4);
          overflow: hidden; }
          #player .player-container .player-footer .progress .progress-bar .progress-bar-progress {
            position: relative;
            background: #31c27c;
            width: 6.25rem;
            height: 2px;
            transform: translate(-100%); }
      #player .player-container .player-footer .actions {
        position: absolute;
        left: 1.875rem;
        bottom: 0.03125rem; }
        #player .player-container .player-footer .actions a {
          text-decoration: none;
          color: #fff; }
  #player .player-background {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    background-image: url(../img/jack.jpg);
    background-size: cover;
    background-position: bottom center;
    filter: blur(15px);
    transform: scale(1.15); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: #f4f4f4; }

ul, ol {
  list-style: none;
  padding: 0;
  list-style: none; }

h1, h2 {
  margin: 0;
  font-weight: normal; }

a {
  text-decoration: none; }

i {
  font-style: normal; }

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.active {
  display: block; }

.hide {
  display: none; }

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

@keyframes circle {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=app.css.map */
